<distributionManagement>
    <repository>
        <id>central</id>
        <name>artifactory.epam.com-releases</name>
        <url>https://artifactory.epam.com/artifactory/MIN-MAC-LAB</url>
    </repository>
    <snapshotRepository>
        <id>snapshots</id>
        <name>artifactory.epam.com-snapshots</name>
        <url>https://artifactory.epam.com/artifactory/MIN-MAC-LAB</url>
    </snapshotRepository>
</distributionManagement>
